@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media queries Manager for
/* 

0 - 600px - phones;
600-900px : tablet portrait;
900 -1200px; tabler landscape
[1200 -1800] is where we apply normal stytles 

1800px + ; big desktop

*/

/* @mixin respond-phone {
  @media (max-width: 600px) {
    @content; //content is being passed in page that mixin is bring called
  }
} */

/* $breakpointargument choices: 
-phone 
-tab-portrait
-tab-landscape
-big-desktop  

Order: Base + typography > layut + grid> page layout > components 




*/

// In media queries are not effected by the root size custome font size that we change
// we have to change it to em   -- 1em is 16px

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      //600px converted to em
      @content; //content is being passed on the  page that mixin is bring called
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      //900px converted to em
      @content; //content is being passed in page that mixin is bring called
    }
  }
  @if $breakpoint == tab-landscape {
    @media only screen and (max-width: 75em) {
      //1200px converted to em
      @content; //content is being passed in page that mixin is bring called
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      //1800px converted to em
      @content; //content is being passed in page that mixin is bring called
    }
  }
}
